<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxw.androiddemo">

    <application
        android:name="com.hxw.frame.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.guide.GuideActivity" />
        <activity android:name=".mvp.StateActivity" android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".mvp.bottomnavigation.BottomNavigationActivity"/>

        <!--glide配置-->
        <meta-data
            android:name="com.hxw.frame.widget.imageloader.glide.GlideConfiguration"
            android:value="GlideModule" />
        <!--框架配置-->
        <meta-data
            android:name="com.hxw.androiddemo.base.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>

</manifest>